# Built binaries
*.exe
a.out

# VSCode
.vscode/

# Datasets
dataset_*.csv

# Output files
hash_table_search_step_*.txt
hash_table_search_dataset_*.txt
radix_sort_dataset_*.csv
heap_sort_dataset_*.csv
